@charset "utf-8";

/*reset*/
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

/*layout*/
/*@header*/

#header-image {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mainVisual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

#header-image h1 a {
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.7em;
}

#header-image h1 + p {
  font-size: 1.3em;
  background-image: linear-gradient(transparent 65%, rgba(68, 152, 188, 0.7) 65%);
  font-weight: 400;
  width: 280px;
  text-align: center;
  letter-spacing: 0.1em
}

#header-image > p {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

nav ul li .ja {
  display: none;
}

nav ul li a:hover .ja {
  display: block;
}

nav ul li a:hover .en {
  display: none;
}

/*414px*/
@media screen and (max-width:414px) {
  .wrap {
  overflow: hidden;
}
  #header-image h1 a {
    width: 60%;
    margin-bottom: 0.7em;
  }

  #header-image h1 + p {
    font-size: em;
  }
}

/*375px*/
@media screen and (max-width:375px) {
  #header-image > p {
    font-size: 0.9em;
  }

  #header-image h1 + p {
    font-size: 0.8em;
    width: 180px
  }
}

/* main */
#left {
  width: 80%;
  float: left;
  text-align: center;
  font-size: 1em;
  padding-left: 10%;
  box-sizing: border-box;
}

.top h2 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #4498bc;
  font-size: 1.8em;
  color: #fff;
  margin-left: -33px;
  line-height: 1.3;
  z-index: -1;
}

.top h2:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px #fff;
  border-bottom: solid 79px transparent;
  z-index:-2;
}

.top h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.top h3 {
  font-size: 1.2em;
}

.top #about a:last-of-type,
.top #tour a:last-of-type {
  display: block;
  width: 250px;
  color: #4498bc;
  transition: 0.3s;
  margin: 0 auto;
}

.top #about a:last-of-type:hover,
.top #tour a:last-of-type:hover {
  color: #c4c4c4;
  opacity: 0.6;
}

#about,
#tour,
#contact {
  width: 90%;
  margin: 15em auto;
}

/*830px*/
@media screen and (max-width:830px) {
  #left {
    padding-left: 3%;
    width: 73%;
  }
}

/*730px*/
@media screen and (max-width:730px) {

  #left {
    float: none;
    width: 100%;
    padding: 0 2%;
  }

  #about,
  #tour,
  #contact,
  #nesw-box {
    margin: 8em auto;
  }
}
/*@about*/
#about {
  position: relative;
}

#about h2 {
  margin-bottom: 1.5em;
}

#about p {
  letter-spacing: 0.08em;
  line-height: 1.53;
  margin-bottom: 5em;
}

#about p span {
  font-weight: 600;
}


#about h3 + img {
  width: 130px;
  transform: translate(20px, -24px)
}

/*1024px*/
@media screen and (max-width:1024px) {

  #about p::before {
    right: 1vw;
    top: 0;
  }

  #about p::after {
    left: -1vw;
    bottom: 7vw
  }

  .top #about a:last-of-type {
    text-align: center;
  }
}

/*830px*/
@media screen and (max-width:830px) {
  #about {
    text-align: left;
  }

  #about p::before {
    left: -1.8vw;
    top: -8vw
  }

  #about p::after {
    left: 46vw;
    bottom: 12vw;
  }

  .top #about a:last-of-type {
    text-align: center;
  }
}
/*730px*/
@media screen and (max-width:730px){
   #about p::after {
    left: 66vw;
    bottom: 14vw;
  }
}
/*570px*/
@media screen and (max-width:570px){
  #about p::after{
    display: none;
  }
}
/*414px*/
@media screen and (max-width:414px) {
  #about p {
    text-align: justify;
  }

  #about p::before {
    left: -2vw;
    top: -17vw
  }
}

/*320px*/
@media screen and (max-width:320px) {
  #about p::after {
    display: none;
  }
}

/*@tour*/
#tour h2 {
  margin-bottom: 0.6em;
}

#tour h2 + p {
  margin-bottom: 4em;
  font-weight: 500
}

#tour .section-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

#tour .section-box section {
  width: 27%;
  text-align: left;
}

#tour .section-box section img {
  display: block;
  width: 94%;
  margin: 0 auto 1em;
  box-sizing: border-box;
  outline: solid 2px #4498bc;
  outline-offset: 5px;
}

#tour .section-box section h4 {
  border-bottom: 3px double #4498bc;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}

#tour .section-box section p {
  text-align: justify;
}

#tour h3 + img {
  width: 190px;
  transform: translate(15px, -22px)
}

/*  830px*/
@media screen and (max-width:830px) {
  #tour .section-box section {
    width: 45%;
    margin-bottom: 3em;
  }

  #tour .section-box {
    flex-wrap: wrap;
  }
}

/*414px*/
@media screen and (max-width:414px) {
  #tour .section-box{
    margin-bottom: 0;
  }
  #tour .section-box section {
    width: 90%;
    margin-bottom: 5em;
  }

  #tour .section-box section h4 {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    margin-bottom: 0.6emem
  }
  #tour .section-box section img{
    margin-bottom: 1.6em;
  }
}

/*375px*/
@media screen and (max-width:375px) {
  #tour h2 + p {
    font-size: 0.9em;
    margin-bottom: 2em
  }
}

/*320px*/
@media screen and (max-width:320px) {
  #tour h2 + p {
    font-size: 0.8em;
  }
}

/*@contact*/
#contact {
  padding-top: 2em;
}

#contact h2 {
  margin-bottom: 1.5em;
}
#contact h2+p{
  margin-bottom: 4em;
  font-weight: 500
}

#contact table {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  text-align: left;
  border: 5px solid #4498bc;
  border-collapse: collapse;
  margin-bottom: 1em;
}

#contact table th,
#contact table td {
  border: solid 3px #4498bc;
  padding: 10px;
}

#contact table th span {
  color: rgba(205, 92, 92, 0.9);
  font-size: 0.8em;
}

#contact table input {
  padding: 3px;
}

input[type="email"] {
  width: 300px;
}

#contact table textarea {
  width: 90%;
  height: 40px;
  padding: 5px;
}

#contact table tr:last-of-type textarea {
  height: 100px;
}

label:hover,
input[type="checkbox"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
}

input[type="submit"],
input[type="reset"] {
  padding: 1em;
  background-color: #4498bc;
  color: #fff;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .6)
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #c4c4c4;
  opacity: 0.6
}

input[type="reset"] {
  margin-left: 5em;
}

/*414px*/
@media screen and (max-width:414px) {
  #contact h2 + p {
    font-size: 0.86em;
    margin-bottom: 2em
  }
  #contact table {
    height: auto;
    border: 2px solid #4498bc;
  }

  #contact table tr {
    display: flex;
    flex-direction: column;
  }

  #contact table th,
  #contact table td {
    border: solid 1px #4498bc;
    padding: 16px
  }
}

/*375px*/
@media screen and (max-width:375px) {
  #contact h2 + p {
    font-size: 1.04em;
  }
  input[type="email"] {
    width: 250px;
  }
}

/*320px*/
@media screen and (max-width:320px) {
  input[type="email"] {
    width: 230px;
  }
}

/*@news*/
#news-box {
  width: 20%;
  float: right;
  text-align: justify;
  margin-top: 10em;
  position: sticky;
  top: 110px;
  margin-bottom: 200px;
}

#news-box h2 {
  font-size: 1em;
  margin: 0 auto 0.5em;
  text-align: center;
}

#news-box h2 + p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.7em
}

#news-box .topics {
  width: 80%;
  overflow: auto;
  height: 400px;
  margin: 0 auto;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
}

#news-box .topics section {
  width: 80%;
  margin: 2em auto;
  padding: 0.5em;
  background-color: #efecec;
}

#news-box .topics section:first-child {
  margin-top: 0.5em;
}

#news-box .topics section:last-child {
  margin-bottom: 0.5em;
}

#news-box .topics section h4 {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  letter-spacing: 0.03em;
}

#news-box .topics section p {
  font-size: 0.7em;
  letter-spacing: 0.03em;
  line-height: 1.62;
}

#news-box .topics section p span {
  font-size: 0.57em;
  color: #939393;
  letter-spacing: 0.2em
}

#news-box .topics section img {
  width: 100%;
  margin-bottom: 0.5em;
}

/*1024px*/
@media screen and (max-width:1024px) {
  #news-box .topics section h4 {
    font-size: 0.85em
  }
  #news-box h2 + p{
    font-size: 0.6em;
  }
}

/*830px*/
@media screen and (max-width:830px) {
  #news-box {
    width: 27%;
  }

  #news-box .topics {
    width: 90%;
  }
}

/*730px*/
@media screen and (max-width:730px) {
  #news-box {
    width: 100%;
    float: none;
    margin-bottom: 20em;
  }

  #news-box .topics {
    width: 80%;
    height: 400px;
  }
  #news-box h2 + p{
    font-size: 0.9em;
    font-weight: 400
  }
}
/*414px*/
@media screen and (max-width:414px) {
  #news-box {
    margin-bottom: 10em;
  }
  #news-box .topics {
    width: 90%;
  }
}

/*@footer*/
footer {
  clear: both;
  text-align: center;
  background-color: #4498bc;
}

footer ul {
  float: left;
  display: flex;
  margin: 1em 0 0 3em;
}

footer ul li {
  padding: 0 1.8em;
  border-left: 1px solid #fff;
  height: 20px;
  line-height: 20px;
}

footer ul li:first-child {
  border-left: none;
}

footer ul li a {
  display: block;
  padding: 0.2em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

footer ul li a:hover {
  color: #c4c4c4;
  opacity: 0.6;
}

footer .sns {
  float: right;
  margin: 1em 3em 2em;
}

footer .sns a {
  padding: 0.4em;
  color: #fff;
  margin: 0 0.4em;
  font-size: 1.3em;
}

footer .sns a:hover {
  color: #c4c4c4;
  opacity: 0.6;
}

p.copyright {
  clear: both;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
  padding-bottom: 2.3em;
}

@media (max-width: 640px) {
  /* Footer */
      p.copyright {
          font-size: 1em;
      }
  }
/*700px*/
@media screen and (max-width:700px){
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer ul,
  .sns {
    float: none;
  }
   footer ul {
    margin-left: 0;
  }

}
/*414px*/
@media screen and (max-width:414px) {
  footer ul li a {
    font-size: 0.5em;
  }

  footer .sns {
    margin: 1em;
  }

  footer .sns a {
    margin: 0 1em;
    font-size: 1em;
  }

  footer p {
    font-size: 0.6em;
    padding-bottom: 1.7em;
  }
}

/*320px*/
@media screen and (max-width:320px) {
  footer ul li {
    padding: 0 1em;
  }

  footer ul li a {
    font-size: 0.7em;
  }
}

/* topback */
#topback {
  display: block;
  z-index: 100;
  transition: 0.6s;
  padding: 0.6em;
  color: #4498bc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 4em;
}

#topback :hover {
  text-decoration: none;
  color: #c4c4c4;
}

/*scrollBar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(177, 168, 145, .6);
}

::-webkit-scrollbar-thumb {
  background-color: #4498bc;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
}

